.tab {
	display: table;
	width: 20rem;
	max-width: 75%;
	line-height: 2rem;
	clear: both;
	border-style: ridge;
	border-width: 1px;
	border-radius: 1px;
	border: 2px solid black;
	box-shadow: 0px 8px 23px 14px rgba(0, 0, 0, 0.2), 0px 10px 40px 0 rgba(0, 0, 0, 0.19);
	background-color: #222;
}

.menu {
	display: grid;
	max-width: 0%;
	position: absolute;
	top: 7.5rem;
	left: 20rem;
}

.tela {
	padding: 10px 6px 2px;
	border-bottom: 2px solid rgba(36, 36, 36, 0.39);
	border-width: 2px;
	position: center;
	text-align: right;
	background-color: #161616;
}

.display {
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	margin: 1px;
	color: rgb(255, 255, 255);
	font-size: 26px;
	font-display: 1;
	font-weight: 1px;
	margin-bottom: 3px;
	background: none;
	border: 0;
	text-align: right;
}

.ultimo {
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	text-align: right;
	background: none;
	color: gray;
	font-size: 14px;
	border: 0;
	margin-bottom: 6px;
}




.display:hover {
  cursor: text;
}
.tela:hover {
  cursor: text;
}
.ultimo:hover {
  cursor: text;
}
.number {
	float: left;
	width: 25%;
	background-color: #222;
	border: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	font-weight: 200;
	line-height: 1.5;
	margin: 0;
	min-height: 44px;
	min-width: 10px;
	outline: none;
	overflow: hidden;
	padding: 1.5rem;
	position: relative;
	text-align: center;

	touch-action: manipulation;
}

.igual {
	font-weight: 10;
	background-color: rgba(220, 20, 60, 0.562);
}


.sinal {
	background-color: #1f1f1f;
}
.number:hover {
 background-color: #ffffff05;
}
.igual:hover{
	background-color: rgba(220, 20, 60, 0.781);
}
